@use 'variables' as *;

.el-loading-mask {
    background-color: transparent !important;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px);
        background-color: #ffffff00;
    }

    circle {
        stroke: $orange-500 !important;
    }
}

.el-dropdown__popper {
    border: none !important;
    box-shadow: $shadow-card !important;
    border-radius: $border-radius-md !important;
    background-color: $gray-700 !important;

    & .el-popper__arrow {
        &::before {
            border-color: $gray-700 !important;
            background-color: $gray-700 !important;
        }
    }

    & .el-dropdown-menu {
        border-radius: $border-radius-md !important;
        background-color: $gray-700 !important;
        border: 1px solid $gray-700 !important;

        & .el-dropdown-menu__item {
            color: $foreground !important;

            &:hover {
                background-color: $orange-500 !important;
                color: $background !important;
                transition: all 0.3s ease !important;
            }
        }
    }
}

.orange-text {
    color: $orange-500 !important;
}