.dashboard-layout {
    min-height: 100vh;
    background: hsl(220 20% 10%);
}

.dashboard-main {
    max-width: 85%;
    margin-left: auto;
    transition: max-width 0.3s ease;

    &.sidebar-collapsed {
        max-width: 100%;
        transition: max-width 0.3s ease;
    }
}

.dashboard-content {
    margin-top: 64px;
    padding: 24px;
    background: hsl(220 20% 10%);
    min-height: calc(100vh - 64px);
}

