@use '../variables.scss' as *;

.dash-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px !important;
    overflow: hidden;
    background-color: $gray-700 !important;

    & colgroup,
    & tbody,
    & .el-table__body-wrapper,
    & .el-table tr,
    & .el-scrollbar__wrap,
    & .el-scrollbar,
    & .el-table__header,
    & .el-table__header-wrapper,
    & .el-table__inner-wrapper {
        background-color: $gray-700 !important;
        border-color: $gray-750 !important;
    }

    table {
        width: 100% !important;
        background-color: $gray-700;

        & .el-table__cell {
            background-color: $gray-700 !important;
            border-bottom: 1px solid $gray-750 !important;
        }
    }

    & .el-table__inner-wrapper {
        &::before {
            display: none !important;
        }
    }

    tr {
        background-color: $gray-700 !important;
    }

    thead {
        th {
            .cell {
                color: $gray-400 !important;
                font-weight: 500;
            }
        }
    }

    & .el-table__empty-block {
        background-color: $gray-700 !important;
    }

    .cell {
        padding: 1px 16px !important;

        & .orange-text {
            color: $orange-500 !important;
        }

        & .status-badge {
            padding: 4px 8px !important;
            border-radius: 10px !important;
            font-size: 12px !important;
            font-weight: 500 !important;
            line-height: 1.3 !important;

            &.new {
                background-color: $gray-400 !important;
                color: $gray-700 !important;
            }

            &.confirmed {
                background-color: $green-500 !important;
                color: $gray-700 !important;
            }

            &.in-progress {
                background-color: $orange-500 !important;
                color: $gray-700 !important;
            }

            &.completed {
                background-color: $green-500 !important;
                color: $gray-700 !important;
            }

            &.cancelled {
                background-color: $red-500 !important;
                color: $gray-700 !important;
            }
        }

        & .white-text {
            color: $foreground !important;
        }
    }

    & .el-table__row {
        background-color: $gray-700 !important;
        & .cell {
            color: $gray-400 !important;

            & .name-column {
                display: flex;
                align-items: center;
                gap: 10px;

                &-icon {
                    width: 24px;
                    height: 24px;
                    overflow: hidden;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                &-content {
                    display: flex;
                    flex-direction: column;
                    gap: 0px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.3;

                    & .name-column-top {
                        color: $foreground !important;
                    }

                    & .name-column-bottom {
                        color: $gray-400 !important;
                    }
                }
            }
        }
    }

    & .el-dropdown {
        & .el-tooltip__trigger {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: $orange-500 !important;
            border: none;
            border-radius: 50%;
            color: $background !important;
        }
    }
}